.register-form .fields>div{margin-bottom:16px}.register-form
.titles{margin-bottom:2px}.register-form .titles
h3{margin-top:30px;padding-top:16px;border-top:1px solid #e8e8e8;font-size:20px}.register-form
.checkbox{margin-top:2px}.register-form .row>div.captcha{margin-bottom:6px}.note-green{display:block;font-style:italic;color:#090}.note-code{margin: -4px 0 3px}#confirm_code{margin-top:8px}.paypal_buy,.mp_buy{width:388px}.paypal_buy
span{display:block !important;text-align:center}.mp_buy{text-align:center}.paypal_loader{display:none;width:388px;margin:5px;background-color:#f5f5f5;border:1px
solid #e3e3e3;border-radius:3px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.05) inset;padding:8px
28px;text-align:center}.paypal_loader
span{display:inline-block;width:16px;height:16px;background:url(../../../site/views/default/_images/ajax-loader.html) left 1px no-repeat}#fb_form
p{margin:0}#fb_form
h3{margin:6px
0 24px 0}#submit_form{margin:24px
0 0 0}.welcome
h2{margin-top:0}.logged_group{}.logged_group
a{display:block;margin:16px
0 0 0;padding:8px
16px 8px 44px;background:#f8f8f8 no-repeat 14px 6px;font-size:15px;text-indent: -14px}.logged_group
i{display:inline-block;margin-right:12px;font-size:17px}