a.back_top{margin: -16px 0 0 0}.page_content{min-height:640px}.articles
li{clear:both;padding:12px
0;border-top:1px solid #e8e8e8}.articles
li.first{padding-top:0;border:none}.articles img,
.article
img{float:left;padding:8px;border:1px
solid #ccc;margin:4px
16px 8px 0}.articles
.right{padding-top:4px}.articles
.date{display:block;margin:6px
0;font-style:normal;font-size:12px;color:#333}.articles
h3{display:inline;padding-left:16px;background:url(../../../site/views/default/_images/site/col_center/arrow_red.gif) no-repeat left 8px;font-size:20px}.articles
a.more{display:block;float:right;margin:6px
0;font-size:11px;text-transform:uppercase}.paging{margin:14px
0 4px 0}.text{padding-top:6px}.article
.back{display:block;float:left;margin:0
0 2px 0}.article
.date{display:block;float:right;margin:0
0 2px 0}.article
.brief{color:#000}.article
.source{font-size:85%}.article
img{margin-top:10px}