.guestbook_link{padding:6px
10px;background:#f9f9f9}.guestbook_link
h5{font-size:16px}#body_guestbook
.page_content{margin:0}#body_guestbook
.page_share_top{border:0}#body_guestbook .page_intro
p{}#body_guestbook
.page_intro{margin:0}.course_top{margin:0
0 12px 0;padding:6px
12px;border-bottom:1px solid #ccc;vertical-align:middle}.course_top.top{margin-top: -22px}#guestbook_form{padding:16px
0 20px !important;border-bottom:1px solid #ddd}.messages{margin-top:20px}.messages
h3{margin:12px
0 14px 0;color:#1290CD;font-size:18px}.messages
li{padding:10px
0 4px 0;border-top:1px solid #ddd}.user{color:#333}.quote{float:left;width:40px;height:60px;margin: -24px 12px 0 0;font-family:Times;font-size:80px;font-weight:bold;color:#ddd;overflow:hidden}.message{margin-left:52px}.message
p{margin:6px
0 12px 0}.paging{margin:0
0 4px 0}