#body_chalkboard .page_share_top,
#body_chalkboard
.page_share_bottom{border:0}#body_chalkboard
.page_share_bottom{margin:0;padding:0}#body_chalkboard
.page_content{margin:0}.page_intro{border-bottom:1px solid #ddd;margin:0
0 8px;padding:0
0 8px}.page_intro
p{}.course_top{margin:0
0 12px 0;padding:6px
12px;border-bottom:1px solid #ccc;vertical-align:middle}.course_top.top{margin-top: -22px}.nav_right{float:right}.nav_left{float:left}.chalkboard{padding:2px
0 20px 0}.date_info{display:block}.page_content
h3{margin:20px
0 10px 0;padding-bottom:4px;border-bottom:1px solid #ddd;color:#1290CD;font-size:18px;line-height:18px}.page_content
h3.top{border:none;margin-top:4px}.page_content h3
em{font-size:12px;line-height:13px;font-style:normal;font-weight:normal;color:#333}.joke_left{}.joke_left
img{border:1px
solid #ccc}.joke_right{padding:0}.joke_right
b{color:#111}.joke_right
p{margin:8px
0 6px 0;font-size:15px;line-height:20px}.joke_right p
em{display:block;margin:3px
0 0 0;font-size:13px;color:#111}.joke_right
a{display:block;margin-top:6px;font-size:13px}