#body_landing .page-content-wrapper .page-content,
#body_classes .page-content-wrapper .page-content{max-width:1080px;margin:0
auto !important}div#mainContent{}.headline{}.headline
h1{margin:12px
0 8px;font-size:30px;font-weight:600}.headline
h2{margin-bottom:16px;font-size:36px;font-weight:600;color:#c00}#body_classes
h2{font-size:40px}.headline
h4{font-size:23px;line-height:30px}.header{margin-bottom:30px}.col_left{font-size:17px;color:#888}#body_classes
.col_left{font-size:18px;color:#666}#body_classes .col_left
h2{margin-bottom:2px;color:#333}.col_left
.bieri{float:left;margin:0
12px 12px 0}.col_left
p{margin-bottom:16px;line-height:130%}.col_left
ul{margin-bottom:14px;padding-left:16px}.col_left
li{margin-bottom:4px;list-style:square;line-height:120%}.samples{display:block;margin-top:34px;font-size:22px}.download
span{color:#c00}.copyright{display:block;margin-top:24px}.col_left
h4{font-size:12px;font-weight:normal}.testimonials{margin:28px
0 20px 0}.testimonials
h2{font-size:20px;color:#666}.testimonials
p{margin:16px
0 4px 0;font-size:15px;font-style:italic;color:#888}.testimonials
span{font-size:15px;color:#404040}.warranty{margin:36px
0 20px 0;padding:6px
0 18px;border:2px
solid #c00;border-width:2px 0}.warranty
h3{font-size:22px;color:#555}.warranty
h2{margin-top:14px;font-size:24px;color:#c00}.warranty
h4{margin-top:14px;font-size:18px;color:#555}.process{padding:16px
8px 0}.buy2 .process
h4{font-size:18px}.process
li{margin-bottom:3px;font-size:15px}.col_left
ul.questions{margin:16px
0;padding:0;list-style:none}.questions
li{list-style:none;font-size:20px;color:#c00}.cost{margin-top:20px;padding:16px
16px 0;border:12px
solid #eee}.cost
h3{margin:0
0 8px 0;font-size:21px;font-weight:600;color:#17a389}.col_right{}.col_right
h2{font-size:24px;margin:36px
0 12px}#body_classes .col_right
h2{margin-top:22px}.col_right
ul{margin:0
0 36px 0}.col_right
li{margin-bottom:12px;padding-left:24px;background:url('../../../data/landing/bull_orange.jpg') left 5px no-repeat;font-size:20px;line-height:130%}#body_classes .col_right
li{font-size:18px}.right_small
li{font-size:17px}.buy{margin:0;padding:12px
18px;background:#eee}#body_classes
.buy{min-height:240px;margin-bottom:20px;padding:16px
22px 0;font-size:17px;color:#444}#body_classes .buy
p{margin-bottom:12px}.buy2{margin-top:20px}.buy
span{display:block;font-size:24px;text-align:center;text-decoration:line-through}.buy
h3{margin:0
0 4px 0;font-size:19px;font-weight:600;color:#c00;text-align:center}.buy2
h3{font-size:26px}.buy
h4{margin:4px
0 6px 0;font-size:17px;color:#333;text-align:center}.buy2
h4{font-size:22px}.buy
.buy_button{background:#fff;text-align:center}.buy .buy_button
a{display:block;margin:0
auto}.buy .buy_button a
img{margin:0
auto}p.contact{margin-top:6px;font-size:14px;text-align:center}p.comment{margin:24px
0;font-size:20px;color:#c00;text-align:center}