#res_level2
.page_content{margin:0}#res_level2 .page_share_top,
#res_level2
.page_share_bottom{border:0}#res_level2
.page_share_bottom{margin:0;padding:0}.course_top{margin:0
0 12px 0;padding:6px
12px;border-bottom:1px solid #CCC;vertical-align:middle}.course_top.top{margin-top: -22px}.register{display:none;margin: -22px 0 22px 0;text-align:center;color:#F00 !important;font-size:15px}.register.bottom{margin:10px
0 0 0}.register a,
.register a:hover{text-decoration:underline !important}.logged
.register{display:none}.back_week{float:left;margin:3px
0 0 0}.navigation{text-align:center}.navigation .complete_button,
.navigation
.complete_label{float:right;height:20px;margin:1px
0 0 0;padding:2px
0 0 26px;background:url(../../../site/views/default/_images/course/label_completed.gif) no-repeat 0 2px;font-size:14px;font-weight:bold}.navigation
.complete_label{display:none;background:url(../../../site/views/default/_images/course/label_completed.gif) no-repeat;color:#090}.navigation
.loader{background:url(../../../site/views/default/_images/course/lesson_loader.gif) no-repeat}.navigation
a{display:block}.navigation
.next_resource{float:right}.navigation
.prev_resource{float:left}.navigation
.back_menu{float:none}.completed
.complete_button{display:none}.completed
.complete_label{display:block}.navigation.bottom{margin:16px
0 12px 0;padding:0;background:none}.navigation.bottom
a{float:none;padding:6px
0;border-top:1px solid #ccc;font-size:14px}.navigation.bottom
a.prev_resource{text-align:left}.navigation.bottom
a.next_resource{text-align:right}.page_content,
.page_content
p{}.page_content
h2.vocabulary{margin:10px
0 20px;font-size:22px;color:#1290CD}.page_content
p{margin:0
0 16px 0;line-height:22px}.page_content
h3{margin-top:18px;margin-bottom:6px;color:#1290CD;font-size:17px;line-height:20px}.page_content
h3.top{margin-top:6px}.page_content
h4{font-size:15px;margin:20px
0 6px 0;color:#F60}.page_content
h5{font-size:14px;margin:20px
0 8px 0;font-weight:normal}.page_content
h5.res_in_feed{margin:0}.page_intro{margin:0
0 8px 0;padding:0
0 8px 0;border-bottom:1px solid #ddd}.page_intro
p{font-size:14px}.alpha-list
a{display:block;float:left;margin:0
10px 4px 0}.page_content h3.no-bottom{margin-bottom: -8px}.a-bull{padding:8px
0 8px 0}.a-bull
a{display:block;margin:12px
0 0 0;padding:0
0 0 22px;background:url(../../../site/views/default/_images/resource/bull_red.gif) no-repeat left 3px;font-size:14px;font-weight:600}.a-bull a:hover{color:#09C}.a-bull
em{font-weight:normal}.a-bull
span{display:inline-block;margin-left:22px;font-weight:normal}.a-bull a
span{margin-left:0}.menu-bull{}.menu-bull
td{height:28px}.menu-bull
a{font-weight:bold;background:url(../../../site/views/default/_images/resource/bullet_blue.gif) no-repeat left 7px;padding:2px
0px 0px 12px}.linkList{width:520px}.linkList
td{height:20px}.linkList
a{font-weight:bold;background:url(../../../site/views/default/_images/resource/bullet_blue.gif) no-repeat left 7px;padding:2px
0px 0px 12px}table.sample{width:100%;margin:10px
0 14px 0;border:1px
solid #CCC}table.sample
tr{background-color:#F8F8F8}table.sample th,
table.sample
td{padding:3px
5px;text-align:left;vertical-align:top}table.sample
th{background-color:#EEE;color:#444}table.sample
td{border-top:1px solid #DDD}table.sample
td.top{border-top:0}table.sample
.arrow{font-size:24px;line-height:16px}table.sample
.right{text-align:right}table.pronouns
th{font-size:12px}.page_content
ul{margin:10px
0 14px 0;padding:10px
10px 0 10px;background-color:#F8F8F8;border:1px
solid #CCC}.page_content
ul.res_in_feed{min-height:121px;margin-top:0;padding-bottom:0}.page_content ul.res_in_feed
li{}.page_content
li{list-style:none;margin:0;padding-left:8px;padding-bottom:12px}.page_content
li.audio{height:16px;margin: -14px 0 0 0;padding:0}#res_level2 .page_content
em{color:#800000;font-style:normal}.page_content a
i{color:#09C}.page_content
i{color:#88A308;font-style:normal}.page_content
ul.compact{padding-bottom:10px}.page_content ul.compact
li{padding-bottom:2px}table.sampleBold{width:100%;margin:10px
0 14px 0;border:1px
solid #CCC}table.sampleBold
tr{background-color:#F8F8F8}table.sampleBold th,
table.sampleBold
td{padding:3px
5px;text-align:left;vertical-align:top}table.sampleBold
th{background-color:#EEE;color:#444}table.sampleBold
td{border-top:1px solid #DDD;font-weight:bold}table.sampleBold
td.top{border-top:0}table.irregular{width:100%}table.irregular
td{text-align:center}table.irregular
img{width:90px;height:90px}.irregular_root
table.irregular{margin:12px
0 12px 0;padding:12px
0 12px 0;border:solid #DDD;border-width:1px 0 1px 0}.irregular_root table.irregular
td{padding:12px
0 12px 0}.irregular_root
table.irreg_top{margin:0
0 12px 0;border-width:0 0 1px 0}.irregular_root
table.irreg_bottom{margin:12px
0 0 0;border-width:1px 0 0 0}table.irregularSample{width:100%;margin:20px
0 30px 0}table.irregularSample th,
table.irregularSample
td{padding:3px
5px;text-align:left;vertical-align:top}table.irregularSample
th{background-color:#F8F8F8;color:#444;border-top:1px solid #DDD;border-bottom:1px solid #DDD}table.irregularSample
td{border-bottom:1px solid #DDD}table.irregularSample
td.top{border-top:0}table.irregularExamples{width:100%;margin-bottom:26px;background-color:#F8F8F8;border:1px
solid #CCC;font-size:13px;color:#444;text-align:left}table.irregularExamples
td{padding:7px
9px 8px 8px;border:0;line-height:19px}table.irregularExamples
th{width:100px;padding:1px
8px 5px 8px;background-color:#EEE;border:0;color:#444;font-weight:normal;text-align:left;vertical-align:top;line-height:19px}table.tenses{width:100%;margin:10px
0 4px 0;border-width:0 1px 1px 1px;border-style:solid;border-color:#CCC}table.tenses
tr{background-color:#F8F8F8}table.tenses th,
table.tenses
td{padding:3px
5px;text-align:left;vertical-align:top}table.tenses
th{background-color:#EEE;color:#444}table.tenses
td{border-top:1px solid #DDD;line-height:18px;padding-left:5px}table.tenses
td.top{border-top:0}table.tenses
td.selectedL{background-color:#FFF;border-left:5px solid #DDD}table.tenses
td.selectedR{background-color:#FFF;border-right:5px solid #DDD}table.tenses td.selectedL a,
table.tenses td.selectedR
a{color:#666;cursor:default}table.tenses
i{font-style:normal;color:#88a308}table.tenses
u{text-decoration:none;color:#da9900}table.tenses
span{}.ref{text-align:right;padding-right:4px}.ref
i{font-style:normal;color:#88a308}.ref
u{text-decoration:none;color:#da9900}.vocabulary{}.vocabulary
h3{font-weight:bold}.vocabulary h3
span{font-weight:normal}.vocabulary
p{margin-bottom:16px}.vocabulary
i{font-style:normal;color:#88a308}table.idioms{width:100%;margin:10px
0 14px 0;border:1px
solid #CCC;border-top:none}table.idioms th,
table.idioms
td{padding:3px
5px;text-align:left;vertical-align:top}table.idioms
td{border-top:1px solid #DDD}ul.idioms
li{padding-left:14px;background:url(../../../site/views/default/_images/resource/bullet_gray.gif) no-repeat left 7px}.sitemap
h3{margin:12px
0 0 0;padding:0
0 0 16px;background:url(../../../site/views/default/_images/site/col_center/bullet_red.gif) no-repeat left 6px;font-size:14px;color:#666}.sitemap
ul{margin:16px
0 8px 0;padding:0;background:none;border:none}.sitemap.map
ul{margin:2px
0 16px 0}.sitemap
li{margin:10px
0 0 0;padding:0;background:none;font-size:14px}.sitemap.map
li{margin:10px
0 0 16px;font-size:13px}.sitemap
ul.sub{margin:12px
0 22px 66px}.sitemap ul.sub
li{margin:0
0 2px 2px;padding:0
0 0 14px;background:url(../../../site/views/default/_images/resource/bullet_gray.gif) no-repeat left 7px;font-size:12px;font-weight:normal}.sitemap ul.sub
li.group{background:none}.sitemap ul.sub li.group
h5{margin:12px
0 4px 0}.sitemap ul.sub li.group
span{font-style:italic}.sitemap ul.sub
li.sep{margin-bottom:8px}a.res{display:block;float:left;margin-left:6px}a.expand{display:block;float:left;width:18px;height:15px;margin:0
6px 0 0;padding:0
0 3px 0;background-color:#EBEFEB;font-size:10px;text-align:center;color:#060;text-transform:uppercase}ul.section{margin:0
0 16px 0}.section
li{margin:6px
0 0 16px}